*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    background-image: url(images/bg.jpeg) ;
    background-position: center;
    background-size: cover;
    padding: 0  8%;
}

.logo {
    position: absolute;
    left: 1%;
    top: 4%;
    width: 120px;
    pad: 20px 0;
    cursor: pointer;
}

.content {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    color: #FFFBF5;
}

.content h1{
    font-size: 64px;
    font-weight: 900;
    color: #FFFBF5;
}

.content span {
    color: #FD4556;
}

.content button {
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    padding: 12px 25px;
    color: #fff;
    cursor: pointer;
}

.content button img {
    width: 15px;
    margin-left: 10px;
}

.launch-time {
    display: flex;
    margin-bottom: 50px;
}

.launch-time div {
    flex-basis: 100px;
}

.launch-time div p {
    font-size: 60px;
    margin-bottom: -14px;
    font-weight: 600;
}

.val{
    width: 150px;
    position: absolute;
    right: 5%;
    bottom: 0;
    animation: val 4s linear infinite;
}

@keyframes val {
    0%{
        left: 0;
        opacity: 0.3;
    }
    100% {
        left: 83%;
        opacity: 0.3;
    }
}